.dark-mode {
  z-index:999;
  width:45px;
  height:45px;
  position:fixed;
  right:0;
  bottom:20px;
  display:block;
  background:#fff;
  box-shadow:0 0 2px #aaa;
  border-radius:5px 0 0 5px;
}
.dark .dark-mode {background:#222;}
.toggle-dn,.mode {
  position:relative;
  float:right;
  outline:0;
  border:0;
  padding:0;
  overflow:hidden;
  cursor:pointer;
}
.toggle-dn{
  border-radius:10px;
  width:0;
  height:20px;
}
.toggle-dn, .mode::before, .dark .mode::after {background:#ccc;}
.dark .toggle-dn {background:#444;}
.auto .toggle-dn {background:#6d6 !important;}
.toggle-dn::before,
.mode::before,
.mode::after {
  position:absolute;
  content:'';
}
.toggle-dn::before {
  top:1px;
  left:1px;
  transition:.4s;
  background:#fff;
  width:18px;
  height:18px;
}
.auto .toggle-dn::before {
  left:14px;
}
.toggle-dn::before,
.mode,
.mode::before,
.mode::after {
  border-radius:50%;
}
.dark .mode {
  top:14px;
  left:-13px;
  overflow:visible;
}
.dark .mode,
.dark .mode::before {
  border-radius:0;
}
.mode,
.dark .mode::before,
.mode::after {
  background:#4b5264;
}
.dark .mode::after {
  background:#fcc10b;
}
.mode {
  width:20px;
  height:20px;
  top:12px;
  left:-11px;
}

.dark .mode,
.mode::before,
.mode::after {
  width:16px;
  height:16px;
}
.mode::before {
  top:2px;
  left:2px;
}
.dark .mode::before {
  top:0;
  left:0;
  transform:rotate(45deg);
}
.mode::after {
  top:-3px;
  left:7px;
}
.dark .mode::after {
  top:1px;
  left:1px;
  width:14px;
  height:14px;
}

/************************************************/
body.dark,.dark #outer-wrapper {
  background-color:#1a1a1a;
}
